In [32]:
import pandas as pd
import numpy as np

data=pd.read_csv('C:/Users/louis/Documents/Msc data science/Centrale/Machine Learning/train.csv',delimiter=",")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [69]:
line=data.shape[0]
Title=[]
Familly_Name=[]
First_Name=[]
Married_Woman=[]
for i in range(line):
    name=data.get_value(i,'Name')
    key=name.split(",")
    inter=key[1] # separate coma:  familly name "," Title "." First Name "(" Before wedding name or if "(" " nickname
    Familly_Name.append(key[0])
    key2= inter.split(".")
    Title.append(key2[0])
    First_Name.append(key3[0])
    key3=key2[1].split("(")
    #print(key3)
    if len(key3)>1:
        #print(key3[1][0])
        if key3[1][0]!='"':
            Married_Woman.append(1)
        else:
            Married_Woman.append(0)
    else:
        Married_Woman.append(0)
data['Title']=T
data['First_Name']=First_Name
data['Familly_name']=Familly_Name
data['Married_Woman']=Married_Woman
data

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,First_Name,Familly-name,Familly_name,Married_Woman
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Patrick,Braund,Braund,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Owen Harris,Cumings,Cumings,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,John Bradley,Heikkinen,Heikkinen,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Laina,Futrelle,Futrelle,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,Jacques Heath,Allen,Allen,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr,William Henry,Moran,Moran,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr,James,McCarthy,McCarthy,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master,Timothy J,Palsson,Palsson,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs,Gosta Leonard,Johnson,Johnson,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs,Oscar W,Nasser,Nasser,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Miss,Nicholas,Sandstrom,Sandstrom,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Miss,Marguerite Rut,Bonnell,Bonnell,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr,Elizabeth,Saundercock,Saundercock,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Mr,William Henry,Andersson,Andersson,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Miss,Anders Johan,Vestrom,Vestrom,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mrs,Hulda Amanda Adolfina,Hewlett,Hewlett,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Master,,Rice,Rice,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Mr,Eugene,Williams,Williams,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Mrs,Charles Eugene,Vander Planke,Vander Planke,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Mrs,Julius,Masselmani,Masselmani,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Mr,Fatima,Fynney,Fynney,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Mr,Joseph J,Beesley,Beesley,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Miss,Lawrence,McGowan,McGowan,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Mr,"Anna ""Annie""",Sloper,Sloper,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Miss,William Thompson,Palsson,Palsson,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Mrs,Torborg Danira,Asplund,Asplund,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Mr,Carl Oscar,Emir,Emir,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Mr,Farred Chehab,Fortune,Fortune,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Miss,Charles Alexander,O'Dwyer,O'Dwyer,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Mr,"Ellen ""Nellie""",Todoroff,Todoroff,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Mr,Claus Peter,Giles,Giles,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Mrs,Frederick Edward,Swift,Swift,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Miss,Frederick Joel,Sage,Sage,0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Mr,"Dorothy Edith ""Dolly""",Gill,Gill,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Mrs,John William,Bystrom,Bystrom,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss,,Duran y More,Duran y More,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Mr,Asuncion,Roebling,Roebling,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Mr,Washington Augustus II,van Melkebeke,van Melkebeke,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Master,Philemon,Johnson,Johnson,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Mr,Harold Theodor,Balkic,Balkic,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Mrs,Cerin,Beckwith,Beckwith,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Mr,Richard Leonard,Carlsson,Carlsson,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Mr,Frans Olof,Vander Cruyssen,Vander Cruyssen,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Mrs,Victor,Abelson,Abelson,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Miss,Samuel,Najib,Najib,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Mr,"Adele Kiamie ""Jane""",Gustafsson,Gustafsson,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Mr,Alfred Ossian,Petroff,Petroff,0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Mr,Nedelio,Laleff,Laleff,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Mrs,Kristo,Potter,Potter,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Mrs,Thomas Jr,Shelley,Shelley,1
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Mr,William,Markun,Markun,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Miss,Johann,Dahlberg,Dahlberg,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr,Gerda Ulrika,Banfield,Banfield,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr,Frederick James,Sutehall,Sutehall,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Mrs,Henry Jr,Rice,Rice,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev,William,Montvila,Montvila,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,Juozas,Graham,Graham,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,Margaret Edith,Johnston,Johnston,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,"Catherine Helen ""Carrie""",Behr,Behr,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,Karl Howell,Dooley,Dooley,0

In [70]:
data.corr

<bound method DataFrame.corr of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked    Title  \
0        0         A/5 21171    7.2500          NaN        S       Mr
1        0          PC 17599   71.2833          C85        C      Mrs
2        0  STON/O2. 3101282    7.9250          NaN        S     Miss
3        0            113803   53.1000         C123        S      Mrs
4        0            373450    8.0500          NaN        S       Mr
5        0            330877    8.4583          NaN        Q       Mr
6        0             17463   51.8625          E46        S       Mr
7        1            349909   21.0750          NaN        S   Master
8        2            347742   11.1333          NaN        S      Mrs
9        0            237736   30.0708          NaN        C      Mrs
10       1           PP 9549   16.7000           G6        S     Miss
11       0            113783   26.5500         C103        S     Miss
12       0         A/5. 2151    8.0500          NaN        S       Mr
13       5            347082   31.2750          NaN        S       Mr
14       0            350406    7.8542          NaN        S     Miss
15       0            248706   16.0000          NaN        S      Mrs
16       1            382652   29.1250          NaN        Q   Master
17       0            244373   13.0000          NaN        S       Mr
18       0            345763   18.0000          NaN        S      Mrs
19       0              2649    7.2250          NaN        C      Mrs
20       0            239865   26.0000          NaN        S       Mr
21       0            248698   13.0000          D56        S       Mr
22       0            330923    8.0292          NaN        Q     Miss
23       0            113788   35.5000           A6        S       Mr
24       1            349909   21.0750          NaN        S     Miss
25       5            347077   31.3875          NaN        S      Mrs
26       0              2631    7.2250          NaN        C       Mr
27       2             19950  263.0000  C23 C25 C27        S       Mr
28       0            330959    7.8792          NaN        Q     Miss
29       0            349216    7.8958          NaN        S       Mr
..     ...               ...       ...          ...      ...      ...
861      0             28134   11.5000          NaN        S       Mr
862      0             17466   25.9292          D17        S      Mrs
863      2          CA. 2343   69.5500          NaN        S     Miss
864      0            233866   13.0000          NaN        S       Mr
865      0            236852   13.0000          NaN        S      Mrs
866      0     SC/PARIS 2149   13.8583          NaN        C     Miss
867      0          PC 17590   50.4958          A24        S       Mr
868      0            345777    9.5000          NaN        S       Mr
869      1            347742   11.1333          NaN        S   Master
870      0            349248    7.8958          NaN        S       Mr
871      1             11751   52.5542          D35        S      Mrs
872      0               695    5.0000  B51 B53 B55        S       Mr
873      0            345765    9.0000          NaN        S       Mr
874      0         P/PP 3381   24.0000          NaN        C      Mrs
875      0              2667    7.2250          NaN        C     Miss
876      0              7534    9.8458          NaN        S       Mr
877      0            349212    7.8958          NaN        S       Mr
878      0            349217    7.8958          NaN        S       Mr
879      1             11767   83.1583          C50        C      Mrs
880      1            230433   26.0000          NaN        S      Mrs
881      0            349257    7.8958          NaN        S       Mr
882      0              7552   10.5167          NaN        S     Miss
883      0  C.A./SOTON 34068   10.5000          NaN        S       Mr
884      0   SOTON/OQ 392076    7.0500          NaN        S       Mr
885      5            382652   29.1250          NaN        Q      Mrs
886      0            211536   13.0000          NaN        S      Rev
887      0            112053   30.0000          B42        S     Miss
888      2        W./C. 6607   23.4500          NaN        S     Miss
889      0            111369   30.0000         C148        C       Mr
890      0            370376    7.7500          NaN        Q       Mr

                    First_Name     Familly-name     Familly_name  \
0                      Patrick           Braund           Braund
1                  Owen Harris          Cumings          Cumings
2                John Bradley         Heikkinen        Heikkinen
3                        Laina         Futrelle         Futrelle
4               Jacques Heath             Allen            Allen
5                William Henry            Moran            Moran
6                        James         McCarthy         McCarthy
7                    Timothy J          Palsson          Palsson
8                Gosta Leonard          Johnson          Johnson
9                     Oscar W            Nasser           Nasser
10                   Nicholas         Sandstrom        Sandstrom
11              Marguerite Rut          Bonnell          Bonnell
12                   Elizabeth      Saundercock      Saundercock
13               William Henry        Andersson        Andersson
14                Anders Johan          Vestrom          Vestrom
15       Hulda Amanda Adolfina          Hewlett          Hewlett
16                                         Rice             Rice
17                      Eugene         Williams         Williams
18              Charles Eugene    Vander Planke    Vander Planke
19                     Julius        Masselmani       Masselmani
20                      Fatima           Fynney           Fynney
21                    Joseph J          Beesley          Beesley
22                    Lawrence          McGowan          McGowan
23                Anna "Annie"           Sloper           Sloper
24            William Thompson          Palsson          Palsson
25              Torborg Danira          Asplund          Asplund
26                 Carl Oscar              Emir             Emir
27               Farred Chehab          Fortune          Fortune
28           Charles Alexander          O'Dwyer          O'Dwyer
29              Ellen "Nellie"         Todoroff         Todoroff
..                         ...              ...              ...
861                Claus Peter            Giles            Giles
862           Frederick Edward            Swift            Swift
863            Frederick Joel              Sage             Sage
864      Dorothy Edith "Dolly"             Gill             Gill
865               John William          Bystrom          Bystrom
866                                Duran y More     Duran y More
867                   Asuncion         Roebling         Roebling
868     Washington Augustus II    van Melkebeke    van Melkebeke
869                   Philemon          Johnson          Johnson
870             Harold Theodor           Balkic           Balkic
871                      Cerin         Beckwith         Beckwith
872           Richard Leonard          Carlsson         Carlsson
873                 Frans Olof  Vander Cruyssen  Vander Cruyssen
874                     Victor          Abelson          Abelson
875                    Samuel             Najib            Najib
876        Adele Kiamie "Jane"       Gustafsson       Gustafsson
877              Alfred Ossian          Petroff          Petroff
878                    Nedelio           Laleff           Laleff
879                     Kristo           Potter           Potter
880                 Thomas Jr           Shelley          Shelley
881                   William            Markun           Markun
882                     Johann         Dahlberg         Dahlberg
883               Gerda Ulrika         Banfield         Banfield
884            Frederick James         Sutehall         Sutehall
885                   Henry Jr             Rice             Rice
886                   William          Montvila         Montvila
887                     Juozas           Graham           Graham
888             Margaret Edith         Johnston         Johnston
889   Catherine Helen "Carrie"             Behr             Behr
890                Karl Howell           Dooley           Dooley

     Married_Woman
0                0
1                1
2                0
3                1
4                0
5                0
6                0
7                0
8                1
9                1
10               0
11               0
12               0
13               0
14               0
15               1
16               0
17               0
18               1
19               0
20               0
21               0
22               0
23               0
24               0
25               1
26               0
27               0
28               0
29               0
..             ...
861              0
862              1
863              0
864              0
865              1
866              0
867              0
868              0
869              0
870              0
871              1
872              0
873              0
874              1
875              0
876              0
877              0
878              0
879              1
880              1
881              0
882              0
883              0
884              0
885              1
886              0
887              0
888              0
889              0
890              0

[891 rows x 17 columns]>